:root {
    --yellow-hover: hsl(47, 88%, 44%);
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 50;

    background-color: #000000d7;
    border-bottom: 1px solid #000;

    .logo {
        font-size: .8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: -5px;
        animation: logoAnim 1s ease 0s 1 normal forwards;

        span {
            display: inline-block;
            color: var(--yellow);
        }


    }

    .menu-selection {
        animation: menuAnim 1s ease 0s 1 normal forwards;

        .main-action-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            .login {
                background: none;
                color: var(--gray950);
            }

            button {
                cursor: pointer;
                font-size: 1.1rem;

                &:hover {
                    background-color: var(--yellow-hover);
                }
            }
        }

        .menu-toggle {
            display: none;
        }
    }


    @media screen and (max-width: 900px) {
        .main-menu {
            display: none;
        }

        .menu-container {
            position: absolute;
            background-color: var(--white);
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            height: 100vh;
            box-shadow: -2px 7px 3px -4px rgba(0,0,0,0.53);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: toggleAnim 1s ease 0s 1 normal forwards;

            ul {
                display: flex;
                align-items: center;
                flex-direction: column;

                li {
                    padding: .4rem 0;

                    .menu {
                        color: var(--gray950);
                        text-decoration: none;
                        font-weight: bold;
                        cursor: pointer;
                        padding: 1.2rem 0;
                        font-size: 1.2rem;
                        display: inline-block;
                        width: 200px;
                        text-align: center;

                        &:hover {
                            color: var(--yellow);
                        }
                    }
                }
            }

            .action-container {
                display: none;
            }

            .close-menu {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                border-radius: 50%;
                background-color: var(--yellow);
                color: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .4rem;
                cursor: pointer;
                transition: all ease .5s;

                &:hover {
                    transform: translateY(-5px);
                    background-color: var(--yellow-hover);
                }
            }

        }

        .menu-selection {
            display: flex;
            align-items: center;
            gap: 1rem;

            .menu-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all ease .4s;
                color: var(--yellow);
        
                .menu-icon:hover {
                    color: var(--yellow-hover);
                }
            }
        }
    }


    @media screen and (max-width: 500px) {
        .menu-container {
            .action-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 200px;

                button {
                    margin: 1.1rem ;
                    cursor: pointer;
                    font-size: 1.1rem;

                    &:hover {
                        background-color: var(--yellow-hover);
                    }
                }
            }

        }

        .menu-selection {
            .main-action-container {
                display: none;
            }
        }
    }

    .main-menu {
        animation: mainMenuAnim 1s ease 0s 1 normal forwards;

        ul {
            display: flex;

            li:hover {
                transform: translateY(-5px);
            }

            .menu {
                text-decoration: none;
                color: var(--white);
                font-weight: 700;
                padding: .8rem;
                font-size: 1.3rem;

                &:hover {
                    color: var(--yellow);
                }
            }
        }
    }
}

.scroll {
    background-color: var(--white);

    .main-menu {
        ul {
            li {

                .menu {
                    color: var(--gray500);
                }
            }
        }
    }
}


@keyframes toggleAnim {
	0% {
		opacity: 0;
		transform: translateX(250px) rotate(200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes menuAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes logoAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes mainMenuAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}