:root {
  --yellow: hsl(47, 88%, 63%);
  --yellow-hover: hsl(47, 88%, 44%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}

.footer-container {
  width: 100%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}
.footer-container .footer-content {
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-container .footer-content .footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .footer-info h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.footer-container .footer-content .footer-info h1 span {
  color: blue;
}
.footer-container .footer-content .footer-info p {
  font-size: 1rem;
  line-height: 1.2rem;
}
.footer-container .footer-content .footer-info .social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .footer-info .social-links h2 {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}
.footer-container .footer-content .footer-info .social-links .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer-container .footer-content .footer-info .social-links .links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid blue;
  cursor: pointer;
}
.footer-container .footer-content .footer-info .social-links .links .link .icon {
  color: blue;
}
.footer-container .footer-content .footer-info .social-links .links .link:hover {
  border: 2px solid var(--white);
}
.footer-container .footer-content .footer-info .social-links .links .link:hover .icon {
  color: var(--white);
}
.footer-container .footer-content .footer-services {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .footer-services h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.footer-container .footer-content .footer-services .service {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-container .footer-content .footer-services .service li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.footer-container .footer-content .footer-services .service li:hover {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--white);
}
.footer-container .footer-content .footer-useful-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .footer-useful-links h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.footer-container .footer-content .footer-useful-links .service {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-container .footer-content .footer-useful-links .service li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease 0.7s;
}
.footer-container .footer-content .footer-useful-links .service li:hover {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid var(--white);
}
.footer-container .footer-content .contact-us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .contact-us .contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-container .footer-content .contact-us .contact-details p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.footer-container .footer-content .contact-us .newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-container .footer-content .contact-us .newsletter .input-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-container .footer-content .contact-us .newsletter .input-button input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
  border: none;
}
.footer-container .footer-content .contact-us .newsletter .input-button button {
  height: 40px;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  border: 2px solid var(--white);
}
.footer-container .footer-content .contact-us .newsletter .input-button button:hover {
  color: var(--yellow);
  background-color: var(--white);
}
@media screen and (max-width: 900px) {
  .footer-container .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .footer-container .footer-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .footer-container .footer-content .footer-info h1 {
    text-align: center;
  }
  .footer-container .footer-content .footer-info p {
    text-align: center;
  }
  .footer-container .footer-content .footer-services {
    align-items: center;
  }
  .footer-container .footer-content .footer-useful-links {
    align-items: center;
  }
}/*# sourceMappingURL=footer.css.map */